@font-face {
  font-weight: 400;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-weight: 500;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-weight: 600;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
  font-weight: 700;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Bold.otf');
}
