$color-accent: #FB9550;
$color-accent-dark: #DB7C49;

$color-font: #262222;
$color-font-20: #26222233;
$color-font-light: #3C3939;
$color-font-light-80: #3c3939cc;
$color-font-lighten: #454545;

$cream: #FFF2EB;
$transparent: #fff8f400;
$shadow: #00000040;
$pink-light: #FFD9D9;

$orange: #F88A5F;
$orange-light: #FB9849;
$orange-dark: #CB6E49;

