$color-accent: #FB9550;
$color-font: #262222;
$color-font-light: #3C3939;
$color-font-light-80: #3c3939cc;
$color-font-lighten: #454545;

$cream: #FFF2EB;
$transparent: #fff8f400;
$pink-light: #FFD9D9;

